n[global_tags]

[agent]
  interval = "1m"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "10s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = "0s"
  logfile = "/var/log/telegraf/telegraf.log"
  logfile_rotation_interval = "24h"
  logfile_rotation_max_archives = 30
  hostname = ""
  omit_hostname = false

##########################
# Outputs
##########################

# PV / Storage
[[outputs.influxdb_v2]]
  urls = ["http://IP-Adresse:8086"]
  token = "dein token"
  organization = "deine ogg"
  bucket = "inverter"
  bucket_tag = "influxdb_bucket"
  exclude_bucket_tag = true
  namepass = ["smartmeter","powerflow","inverter","storage"]

# Server Daten
[[outputs.influxdb_v2]]
  urls = ["http://IP-Adresse:8086"]
  token = "dein token"
  organization = "deine ogg"
  bucket = "server"
  bucket_tag = "influxdb_bucket"
  exclude_bucket_tag = true
  namepass = ["cpu","mem","disk","diskio","swap","system","kernel","processes","docker","net","netstat","nstat","sensors","smart"]

# Telegraf interne Metriken
[[outputs.influxdb_v2]]
  urls = ["http://IP-Adresse:8086"]
  token = "dein token"
  organization = "deine ogg"
  bucket = "Telegraf"
  bucket_tag = "influxdb_bucket"
  exclude_bucket_tag = true
  # ohne namepass → alles andere geht hier rein
[[outputs.influxdb_v2]]
  urls = ["http://IP-Adresse:8086"]
  token = "dein token"
  organization = "deine ogg"
  bucket = "pvforecast"
  bucket_tag = "influxdb_bucket"
  exclude_bucket_tag = true
##########################
# String Prozessoren (für Fronius)
##########################

  [[processors.strings]]
  ## Replace all non-overlapping instances of old with new
  ## Trim the given prefix from the field
  [[processors.strings.trim_prefix]]
    field_key = "*"
    prefix = "Body_Data_Site_"
  [[processors.strings.trim_prefix]]
    field_key = "*"
    prefix = "Body_Data_DeviceStatus_"
  [[processors.strings.trim_prefix]]
    field_key = "*"
    prefix = "Body_Data_0_Controller_"
  [[processors.strings.trim_prefix]]
    field_key = "*"
    prefix = "Body_Data_0_"
  [[processors.strings.trim_prefix]]
    field_key = "*"
    prefix = "Body_Data_1_"
  [[processors.strings.trim_prefix]]
    field_key = "*"
    prefix = "Body_Data_"
  [[processors.strings.trim_suffix]]
     field_key = "*"
     suffix = "_Value"
##########################
# Fronius Inputs (1 min Intervall)
##########################

[[inputs.http]]
  name_override = "smartmeter"
  interval = "1m"
  urls = ["http://IP-Adresse/solar_api/v1/GetMeterRealtimeData.cgi?Scope=System"]
  data_format = "json"
  json_time_key = "Body_Data_0_TimeStamp"
  json_time_format = "unix"
  fieldpass = [
    "Body_Data_0_Energy*",
    "Body_Data_0_Current_AC_*",
    "Body_Data_0_Power*",
    "Body_Data_0_Voltage*",
    "Body_Data_0_Enable_EnergyReactive*",
    "Body_Data_0_Enable_EnergyReal*",
    "Body_Data_0_*_Sum"
  ]
  [inputs.http.tags]
    influxdb_bucket = "inverter"

[[inputs.http]]
  name_override = "powerflow"
  interval = "1m"
  urls = ["http://IP-Adresse/solar_api/v1/GetPowerFlowRealtimeData.fcgi"]
  data_format = "json"
  json_time_key = "Head_Timestamp"
  json_time_format = "2006-01-02T15:04:05Z07:00"
  fieldinclude = [
    "Body_Data_Site_P_*",
    "Body_Data_Site_rel_*",
    "Body_Data_Site_E_Total"
  ]
  [inputs.http.tags]
    influxdb_bucket = "inverter"

[[inputs.http]]
  name_override = "inverter"
  interval = "1m"
  urls = [
    "http://IP-Adresse/solar_api/v1/GetInverterRealtimeData.cgi?Scope=Device&DeviceId=1&DataCollection=CommonInverterData",
    "http://IP-Adresse/solar_api/v1/GetInverterRealtimeData.cgi?Scope=Device&DeviceId=1&DataCollection=3PInverterData"
  ]
  data_format = "json"
  json_time_key = "Head_Timestamp"
  json_time_format = "2006-01-02T15:04:05Z07:00"
  fieldinclude = [
    "Body_Data_DeviceStatus_ErrorCode",
    "Body_Data_DeviceStatus_StatusCode",
    "*_Value"
  ]
  [inputs.http.tags]
    influxdb_bucket = "inverter"

[[inputs.http]]
  name_override = "storage"
  interval = "1m"
  urls = ["http://IP-Adresse/solar_api/v1/GetStorageRealtimeData.cgi"]
  data_format = "json"
  json_time_key = "Head_Timestamp"
  json_time_format = "2006-01-02T15:04:05Z07:00"
  fieldinclude = [
    "Body_Data_0_Controller_StateOfCharge_Relative",
    "*Cell",
    "*DC",
    "*Capacity*"
  ]
  [inputs.http.tags]
    influxdb_bucket = "inverter"
# ---------- Telegraf interne Metriken ----------
[[inputs.internal]]
  collect_memstats = true
  [inputs.internal.tags]
    influxdb_bucket = "Telegraf"
##########################
# Server Inputs (angepasste Intervalle)
##########################
#[[inputs.docker]]
#  endpoint = "unix:///var/run/docker.sock"
#  container_name_include = []
#  container_name_exclude = []
#  timeout = "5s"
#  interval = "1m"

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false
  [inputs.cpu.tags]
    influxdb_bucket = "server"

[[inputs.nstat]]
  [inputs.nstat.tags]
    influxdb_bucket = "server"
#eth1 war es
[[inputs.net]]
  interfaces = ["eth0"]
  [inputs.net.tags]
    influxdb_bucket = "server"

[[inputs.netstat]]
  [inputs.netstat.tags]
    influxdb_bucket = "server"

[[inputs.sensors]]
  [inputs.sensors.tags]
    influxdb_bucket = "server"

[[inputs.system]]
  [inputs.system.tags]
    influxdb_bucket = "server"

[[inputs.mem]]
  [inputs.mem.tags]
    influxdb_bucket = "server"
    
[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
  [inputs.disk.tags]
    influxdb_bucket = "server"
    
[[inputs.diskio]]
  [inputs.diskio.tags]
    influxdb_bucket = "server"

[[inputs.swap]]
  [inputs.swap.tags]
    influxdb_bucket = "server"
   
[[inputs.kernel]]
  [inputs.kernel.tags]
    influxdb_bucket = "server"

[[inputs.processes]]
  [inputs.processes.tags]
    influxdb_bucket = "server"

[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  timeout = "5s"

  [inputs.docker.tags]
    influxdb_bucket = "server"
##########################################################
#[[inputs.smart]]
#  [inputs.smart.tags]
#    influxdb_bucket = "server"
# pv forecast data
  [[inputs.http]]
  urls = [
    "https://api.forecast.solar/estimate/:lat/:lon/:dec/:az/:kwp?time=utc"
  ]
# dec - plane declination, 0 (horizontal) … 90 (vertical) - always in relation to the earth's surface; integer
# az - plane azimuth, -180 … 180 (-180 = north, -90 = east, 0 = south, 90 = west, 180 = north); integer
# kwp - installed modules power in kilo watt
#
#  data_format = "json"
#  name_override = "pv_forecast_watt_hours_day"
#  interval = "8h"

  # JSON-Parsing
#  json_query = "result"
#  tag_keys = []
#  json_time_key = ""
#  json_time_format = ""

#  [inputs.http.tags]
#    influxdb_bucket = "pvforecast"
    headers = {"accept" = "text/csv", "X-Delimiter" = "|", "X-Separator" = ";"}
    data_format = "csv"
    name_override = "pv_forecast_watt_hours_day"
    interval = "8h"
    csv_header_row_count = 0
    csv_column_names = ["time","value"]
    csv_column_types = []
    csv_delimiter = ";"
    csv_timestamp_column = "time"
    csv_timezone = "Etc/UTC"
    csv_timestamp_format = "2006-01-02"
    [inputs.http.tags]
      influxdb_bucket = "pvforecast"
